*,
*::after,
*::before {
    box-sizing: inherit;
    margin:0;
    padding:0;
}

html {
    font-size:62.5%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

body {
    box-sizing: border-box;

}

.container {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
}

.leftbar {
    color: white;
    flex-basis: 20%;
    font-size: 2.5rem;
    padding: 0.5rem;
    background-image: linear-gradient(to right bottom, rgb(41, 77, 135),rgb(103, 110, 137))

}

.rightbar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

}

.rightbar--topview {
    flex: 1;
    font-size: 1.9rem;
    padding: 1rem

}
.rightbar ol {
    list-style-type: none;
    list-style-position: inside;
}

.rightbar li {
    margin: 0.2rem;
}
.rightbar--sendview {
    flex:0 0 10%;
    display: flex;
    align-items: stretch;
    background-color: gray;
    border: none;
    padding: 2rem;
    

}
.rightbar--sendview--form {
    flex: 1;
    display: flex;
    font-weight: 40;
    
    

}

.rightbar--sendview--form--input{
    flex:1;
    margin-right: .5rem;
    border: none;
    padding: 1rem;
    font-size: 2rem;


}
.rightbar--sendview--form--button {
    margin-right: .5rem;
    border: none;
    padding: 1rem;
    font-size: 1.5rem

}

.rightbar--sendview--locationButton {
   
    display: block;
    margin-right: .5rem;
        padding: 1rem;
        font-size: 1.5rem;

}

@media (max-height: 600px) {

    .rightbar--sendview {
        margin-bottom: 1rem;
        
    }

    .rightbar--sendview--form--button {
        margin:0.4rem auto;

    }

    .rightbar--sendview--locationButton {
        margin:0.4rem auto;

    }
  }

  button {
    border: none;
    background: #265f82;
    color: white;
    cursor: pointer;
    padding: 10px;
    transition: background .3s ease;
  }
  
  button:hover {
    border: none;
    background: #1F4C69;
    color: white;
    padding: 10px;
  }
  
  button:disabled {
    cursor: default;
    background: #698ea5;
  }